openapi: 3.0.3
info:
  title: Boltic Gateway Certificates API
  description: The Boltic Gateway API provides a developer-friendly API gateway designed to simplify and secure how services interact across your platform. It enables seamless request routing, payload transformation, and enforcement of security policies across diverse integration types including serverless functions, workflows, tables, and proxy endpoints. The Gateway supports dynamic URL rewriting, path parameter injection, fine-grained authentication, and real-time observability.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://gateway.boltic.io/v1
  description: Boltic Gateway API
security:
- bearerAuth: []
tags:
- name: Certificates
  description: Manage SSL/TLS certificates
paths:
  /certificates:
    get:
      operationId: listCertificates
      summary: Boltic List all certificates
      tags:
      - Certificates
      responses:
        '200':
          description: A list of certificates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Certificate'
    post:
      operationId: createCertificate
      summary: Boltic Upload a new certificate
      tags:
      - Certificates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateInput'
      responses:
        '201':
          description: Certificate created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
components:
  schemas:
    Certificate:
      type: object
      properties:
        id:
          type: string
        snis:
          type: array
          items:
            type: string
          description: Server Name Indications for this certificate
        cert:
          type: string
          description: PEM-encoded certificate
        status:
          type: string
          enum:
          - active
          - expired
          - revoked
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    CertificateInput:
      type: object
      required:
      - cert
      - key
      properties:
        cert:
          type: string
        key:
          type: string
        snis:
          type: array
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
