openapi: 3.0.3
info:
  title: Boltic Gateway Certificates Sources API
  description: The Boltic Gateway API provides a developer-friendly API gateway designed to simplify and secure how services interact across your platform. It enables seamless request routing, payload transformation, and enforcement of security policies across diverse integration types including serverless functions, workflows, tables, and proxy endpoints. The Gateway supports dynamic URL rewriting, path parameter injection, fine-grained authentication, and real-time observability.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://gateway.boltic.io/v1
  description: Boltic Gateway API
security:
- bearerAuth: []
tags:
- name: Sources
  description: Manage data sources
paths:
  /sources:
    get:
      operationId: listSources
      summary: Boltic List available source types
      tags:
      - Sources
      responses:
        '200':
          description: A list of source types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SourceType'
components:
  schemas:
    SourceType:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string
          enum:
          - database
          - saas
          - file-storage
          - api
        icon:
          type: string
          format: uri
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
