openapi: 3.2.0
info:
  title: Boltic Workflow Executions API
  description: The Boltic Workflow API enables programmatic creation, management, and execution of automation workflows. Workflows are visual, no-code automation sequences that connect triggers with actions across 500+ integrations. The API supports HTTP-triggered workflows with customizable responses, scheduled executions, and webhook-based triggers. Workflows can incorporate integration, transformation, and destination actions with support for multiple AI providers.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://api.boltic.io/v1
  description: Boltic Workflow API
security:
- bearerAuth: []
tags:
- name: Executions
  description: Track and manage workflow executions
paths:
  /workflows/{workflowId}/executions:
    get:
      operationId: listExecutions
      summary: Boltic List workflow executions
      description: Retrieve execution history for a specific workflow.
      tags:
      - Executions
      parameters:
      - name: workflowId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      - name: status
        in: query
        schema:
          type: string
          enum:
          - running
          - completed
          - failed
          - cancelled
      responses:
        '200':
          description: A list of executions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Execution'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /executions/{executionId}:
    get:
      operationId: getExecution
      summary: Boltic Get execution details
      description: Retrieve details and results of a specific workflow execution.
      tags:
      - Executions
      parameters:
      - name: executionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Execution details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
  /executions/{executionId}/cancel:
    post:
      operationId: cancelExecution
      summary: Boltic Cancel an execution
      description: Cancel a running workflow execution.
      tags:
      - Executions
      parameters:
      - name: executionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Execution cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
components:
  schemas:
    Execution:
      type: object
      properties:
        id:
          type: string
        workflowId:
          type: string
        status:
          type: string
          enum:
          - queued
          - running
          - completed
          - failed
          - cancelled
        input:
          type: object
          additionalProperties: true
        output:
          type: object
          additionalProperties: true
        error:
          type: object
          properties:
            message:
              type: string
            nodeId:
              type: string
            code:
              type: string
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        duration:
          type: integer
          description: Execution duration in milliseconds
        nodeResults:
          type: array
          items:
            type: object
            properties:
              nodeId:
                type: string
              status:
                type: string
              output:
                type: object
                additionalProperties: true
              duration:
                type: integer
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
