openapi: 3.0.3
info:
  title: Boltic Gateway Certificates Queries API
  description: The Boltic Gateway API provides a developer-friendly API gateway designed to simplify and secure how services interact across your platform. It enables seamless request routing, payload transformation, and enforcement of security policies across diverse integration types including serverless functions, workflows, tables, and proxy endpoints. The Gateway supports dynamic URL rewriting, path parameter injection, fine-grained authentication, and real-time observability.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://gateway.boltic.io/v1
  description: Boltic Gateway API
security:
- bearerAuth: []
tags:
- name: Queries
  description: Execute SQL queries against tables
paths:
  /tables/{tableId}/query:
    post:
      operationId: queryTable
      summary: Boltic Execute a SQL query
      description: Run a DML query against the table using the built-in SQL editor. Supports AI-powered natural language to SQL generation.
      tags:
      - Queries
      parameters:
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                  description: SQL query to execute
                naturalLanguage:
                  type: string
                  description: Optional natural language prompt for AI-powered SQL generation
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  columns:
                    type: array
                    items:
                      type: string
                  rows:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  rowCount:
                    type: integer
                  generatedQuery:
                    type: string
                    description: The SQL query generated from natural language, if applicable
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
