openapi: 3.2.0
info:
  title: Boltic Streams Events API
  description: The Boltic Streams API provides real-time event streaming capabilities for tracking custom events and streaming data from websites, mobile apps, and servers. It includes source debugger tools for confirming API call delivery, an event analysis dashboard for monitoring event flows, and real-time data processing for actionable insights. Streams centralize, process, and enable analysis of streaming data for better decision-making and performance optimization.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://api.boltic.io/v1
  description: Boltic Streams API
security:
- bearerAuth: []
tags:
- name: Events
  description: Send and query events
paths:
  /streams/events:
    post:
      operationId: sendEvent
      summary: Boltic Send an event
      description: Send a custom event to a stream source for processing.
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
      responses:
        '202':
          description: Event accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventId:
                    type: string
                  status:
                    type: string
                    enum:
                    - accepted
    get:
      operationId: queryEvents
      summary: Boltic Query events
      description: Query and analyze events using the event analysis dashboard for monitoring event flows.
      tags:
      - Events
      parameters:
      - name: sourceId
        in: query
        schema:
          type: string
      - name: eventType
        in: query
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Event query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  summary:
                    type: object
                    properties:
                      totalEvents:
                        type: integer
                      uniqueEventTypes:
                        type: integer
                      timeRange:
                        type: object
                        properties:
                          from:
                            type: string
                            format: date-time
                          to:
                            type: string
                            format: date-time
components:
  schemas:
    EventInput:
      type: object
      required:
      - sourceId
      - type
      properties:
        sourceId:
          type: string
        type:
          type: string
        properties:
          type: object
          additionalProperties: true
        userId:
          type: string
        anonymousId:
          type: string
        timestamp:
          type: string
          format: date-time
        context:
          type: object
          additionalProperties: true
    Event:
      type: object
      properties:
        id:
          type: string
        sourceId:
          type: string
        type:
          type: string
          description: Event type name (e.g., page_view, purchase, signup)
        properties:
          type: object
          additionalProperties: true
          description: Custom event properties
        context:
          type: object
          properties:
            ip:
              type: string
            userAgent:
              type: string
            locale:
              type: string
            page:
              type: object
              properties:
                url:
                  type: string
                title:
                  type: string
                referrer:
                  type: string
        userId:
          type: string
        anonymousId:
          type: string
        timestamp:
          type: string
          format: date-time
        receivedAt:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
