openapi: 3.0.3
info:
  title: Boltic Gateway Certificates Consumers API
  description: The Boltic Gateway API provides a developer-friendly API gateway designed to simplify and secure how services interact across your platform. It enables seamless request routing, payload transformation, and enforcement of security policies across diverse integration types including serverless functions, workflows, tables, and proxy endpoints. The Gateway supports dynamic URL rewriting, path parameter injection, fine-grained authentication, and real-time observability.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://gateway.boltic.io/v1
  description: Boltic Gateway API
security:
- bearerAuth: []
tags:
- name: Consumers
  description: Manage API consumers and access credentials
paths:
  /consumers:
    get:
      operationId: listConsumers
      summary: Boltic List all consumers
      description: Retrieve a list of all API consumers.
      tags:
      - Consumers
      responses:
        '200':
          description: A list of consumers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consumer'
    post:
      operationId: createConsumer
      summary: Boltic Create a new consumer
      tags:
      - Consumers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerInput'
      responses:
        '201':
          description: Consumer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
  /consumers/{consumerId}:
    get:
      operationId: getConsumer
      summary: Boltic Get a consumer by ID
      tags:
      - Consumers
      parameters:
      - name: consumerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Consumer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consumer'
    delete:
      operationId: deleteConsumer
      summary: Boltic Delete a consumer
      tags:
      - Consumers
      parameters:
      - name: consumerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Consumer deleted
components:
  schemas:
    ConsumerInput:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        tags:
          type: array
          items:
            type: string
    Consumer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        credentials:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - api-key
                - oauth2
                - jwt
                - basic-auth
              key:
                type: string
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
