openapi: 3.0.3
info:
  title: Boltic Gateway Certificates Rows API
  description: The Boltic Gateway API provides a developer-friendly API gateway designed to simplify and secure how services interact across your platform. It enables seamless request routing, payload transformation, and enforcement of security policies across diverse integration types including serverless functions, workflows, tables, and proxy endpoints. The Gateway supports dynamic URL rewriting, path parameter injection, fine-grained authentication, and real-time observability.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://gateway.boltic.io/v1
  description: Boltic Gateway API
security:
- bearerAuth: []
tags:
- name: Rows
  description: Create, read, update, and delete table rows
paths:
  /tables/{tableId}/rows:
    get:
      operationId: listRows
      summary: Boltic List rows in a table
      description: Retrieve rows from a table with optional filtering and sorting.
      tags:
      - Rows
      parameters:
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
      - name: filter
        in: query
        description: JSON-encoded filter expression
        schema:
          type: string
      - name: sort
        in: query
        description: Column name to sort by
        schema:
          type: string
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        '200':
          description: A list of rows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Row'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      operationId: createRow
      summary: Boltic Add a new row
      description: Insert a new row into the table.
      tags:
      - Rows
      parameters:
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RowInput'
      responses:
        '201':
          description: Row created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Row'
  /tables/{tableId}/rows/{rowId}:
    get:
      operationId: getRow
      summary: Boltic Get a row by ID
      tags:
      - Rows
      parameters:
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      - name: rowId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Row details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Row'
    put:
      operationId: updateRow
      summary: Boltic Update a row
      description: Modify an existing row in the table.
      tags:
      - Rows
      parameters:
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      - name: rowId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RowInput'
      responses:
        '200':
          description: Row updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Row'
    delete:
      operationId: deleteRow
      summary: Boltic Delete a row
      tags:
      - Rows
      parameters:
      - name: tableId
        in: path
        required: true
        schema:
          type: string
      - name: rowId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Row deleted
components:
  schemas:
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    Row:
      type: object
      properties:
        id:
          type: string
        fields:
          type: object
          additionalProperties: true
          description: Key-value pairs of column names to values
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    RowInput:
      type: object
      properties:
        fields:
          type: object
          additionalProperties: true
          description: Key-value pairs of column names to values
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
