openapi: 3.0.3
info:
  title: Boltic Gateway Certificates Triggers API
  description: The Boltic Gateway API provides a developer-friendly API gateway designed to simplify and secure how services interact across your platform. It enables seamless request routing, payload transformation, and enforcement of security policies across diverse integration types including serverless functions, workflows, tables, and proxy endpoints. The Gateway supports dynamic URL rewriting, path parameter injection, fine-grained authentication, and real-time observability.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://gateway.boltic.io/v1
  description: Boltic Gateway API
security:
- bearerAuth: []
tags:
- name: Triggers
  description: Manage workflow triggers
paths:
  /triggers:
    get:
      operationId: listTriggers
      summary: Boltic List available triggers
      description: Retrieve a list of all available trigger types.
      tags:
      - Triggers
      responses:
        '200':
          description: A list of trigger types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trigger'
components:
  schemas:
    Trigger:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - http
          - schedule
          - webhook
          - copilot
          - table-change
          - manual
        config:
          type: object
          additionalProperties: true
          description: Trigger-specific configuration
        methods:
          type: array
          items:
            type: string
            enum:
            - GET
            - POST
            - PUT
            - DELETE
          description: HTTP methods for HTTP triggers
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
