openapi: 3.0.3
info:
  title: Boltic Gateway Certificates Destinations API
  description: The Boltic Gateway API provides a developer-friendly API gateway designed to simplify and secure how services interact across your platform. It enables seamless request routing, payload transformation, and enforcement of security policies across diverse integration types including serverless functions, workflows, tables, and proxy endpoints. The Gateway supports dynamic URL rewriting, path parameter injection, fine-grained authentication, and real-time observability.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://gateway.boltic.io/v1
  description: Boltic Gateway API
security:
- bearerAuth: []
tags:
- name: Destinations
  description: Manage data destinations
paths:
  /destinations:
    get:
      operationId: listDestinations
      summary: Boltic List available destination types
      tags:
      - Destinations
      responses:
        '200':
          description: A list of destination types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DestinationType'
  /streams/destinations:
    get:
      operationId: listStreamDestinations
      summary: Boltic List stream destinations
      tags:
      - Destinations
      responses:
        '200':
          description: A list of stream destinations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StreamDestination'
    post:
      operationId: createStreamDestination
      summary: Boltic Create a stream destination
      description: Configure a destination for delivering stream events.
      tags:
      - Destinations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamDestinationInput'
      responses:
        '201':
          description: Stream destination created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamDestination'
components:
  schemas:
    DestinationType:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string
        icon:
          type: string
          format: uri
    StreamDestinationInput:
      type: object
      required:
      - name
      - type
      - config
      properties:
        name:
          type: string
        type:
          type: string
        config:
          type: object
          additionalProperties: true
    StreamDestination:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        config:
          type: object
          additionalProperties: true
        status:
          type: string
          enum:
          - active
          - inactive
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
