openapi: 3.2.0
info:
  title: Boltic Workflow Triggers API
  description: The Boltic Workflow API enables programmatic creation, management, and execution of automation workflows. Workflows are visual, no-code automation sequences that connect triggers with actions across 500+ integrations. The API supports HTTP-triggered workflows with customizable responses, scheduled executions, and webhook-based triggers. Workflows can incorporate integration, transformation, and destination actions with support for multiple AI providers.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://api.boltic.io/v1
  description: Boltic Workflow API
security:
- bearerAuth: []
tags:
- name: Triggers
  description: Manage workflow triggers
paths:
  /triggers:
    get:
      operationId: listTriggers
      summary: Boltic List available triggers
      description: Retrieve a list of all available trigger types.
      tags:
      - Triggers
      responses:
        '200':
          description: A list of trigger types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trigger'
components:
  schemas:
    Trigger:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - http
          - schedule
          - webhook
          - copilot
          - table-change
          - manual
        config:
          type: object
          additionalProperties: true
          description: Trigger-specific configuration
        methods:
          type: array
          items:
            type: string
            enum:
            - GET
            - POST
            - PUT
            - DELETE
          description: HTTP methods for HTTP triggers
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
