openapi: 3.2.0
info:
  title: Boltic Streams Destinations API
  description: The Boltic Streams API provides real-time event streaming capabilities for tracking custom events and streaming data from websites, mobile apps, and servers. It includes source debugger tools for confirming API call delivery, an event analysis dashboard for monitoring event flows, and real-time data processing for actionable insights. Streams centralize, process, and enable analysis of streaming data for better decision-making and performance optimization.
  version: 1.0.0
  contact:
    name: Boltic
    url: https://www.boltic.io
  license:
    name: Proprietary
    url: https://www.boltic.io/terms
servers:
- url: https://api.boltic.io/v1
  description: Boltic Streams API
security:
- bearerAuth: []
tags:
- name: Destinations
  description: Manage stream destinations for event delivery
paths:
  /streams/destinations:
    get:
      operationId: listStreamDestinations
      summary: Boltic List stream destinations
      tags:
      - Destinations
      responses:
        '200':
          description: A list of stream destinations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StreamDestination'
    post:
      operationId: createStreamDestination
      summary: Boltic Create a stream destination
      description: Configure a destination for delivering stream events.
      tags:
      - Destinations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamDestinationInput'
      responses:
        '201':
          description: Stream destination created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamDestination'
components:
  schemas:
    StreamDestination:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        config:
          type: object
          additionalProperties: true
        status:
          type: string
          enum:
          - active
          - inactive
        createdAt:
          type: string
          format: date-time
    StreamDestinationInput:
      type: object
      required:
      - name
      - type
      - config
      properties:
        name:
          type: string
        type:
          type: string
        config:
          type: object
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
